#main-content{ 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    
}
#top-content{
    height: 40px;
    background-color:  darkgreen
}
#top-content p{
    margin-left: 80%;
    color: white;
    padding-top: 0.7em
}
img { 
    height: 2em
}
#left-side{
    width: 6em;
    text-align:  center;
    height: 40em;
    padding-top: 1em
}
a{
    text-decoration: none;
    display: block;
}
#inbox a{
    background-color: darkgreen;
    color: white
}
#sent a{
    color: black
}
#draft a{
    background-color: darkgreen;
    color: white
}
#compose a{
    color: black
}
#content-area{
    margin-left: 1em;
    height: 40em
}
textarea{
    width: 30em;
    height: 15em
}
input[type='text']{
    width: 30em
}
input[type='submit']{
    margin-left: 27em
}
li{
    display: block;
}