#reset-body{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
    border:  #ffffff ridge
}
p{
    margin-left: 3em
}
img { 
    height: 2em
}
#reset-body img{
    margin-top: 0.6em;
    margin-left: 30%;
    margin-right: auto
}
input[type='submit']{
     margin-left: 3.5em;
     background-color:  navy;
     color: white
}
a{
    margin-left: 1em;
    text-decoration: none;
    color: blue
}