img { 
    height: 2em
}

#login-body{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
    border:  #ffffff ridge
}
#login-body img{
    margin-top: 0.6em;
    margin-left: 33%;
    margin-right: auto
}
input[type='submit']{
    color: red;
    margin-left: 3.7em
}
a{
    text-decoration: none;
    color: blue;
    margin-left: 3em
}
p{
    margin-left: 3em;
}
input[type='text']{
    width: 18em
}
#signup{
    margin-left: 9em
}